@import url('./components/styles/footer.module.css');
@import url('./components/styles/navbar_dark.module.css');
@import url('./components/styles/navbar_white.module.css');
@import url('./components/styles/carousel.module.css');
@import url('./components/styles/home_login.module.css');
@import url('./components/styles/cards.module.css');
@import url('./components/styles/home_background.module.css');
@import url('./components/styles/content_top.module.css');
@import url('./components/styles/one_row.module.css');
@import url('./components/styles/text_page_content.module.css');
@import url('./components/styles/text_page_top.module.css');
@import url('./components/styles/photocard.module.css');
@import url('./components/styles/user_page.module.css');
@import url('./components/styles/post.module.css');

label {
  display: block;
  margin-top: 10px;
}

.topimg{
  object-fit: cover;
}
.nodeco, .nodeco:visited, .nodeco:hover{
  text-decoration: none !important;
  color: inherit !important;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.home_welcome{
  font-size: 2rem;
  font-weight: 500;
  margin: 30px 0;
}
.home_welcome_right{
  text-align: right;
  display: inline-block;
}
.home_welcome_space{
  text-align: center;
}

.logout_link{
  display: inline-block;
  padding: 30px 0 0 0!important;
  color: #ca0101;
}
.home_each{
  width:20% !important;
}

.home_input{
  display: inline-block;
}

.home_input_outerspace{
  margin: 20px 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;

}
.red_button{
  background-color: #e60000;
  color: white;
}
.welcome_block{
  width: 50px;
  height: 5px;
  background-color: #e60000;
  display: inline-block;
  position: relative;
  top: -54px;
}
.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}